.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 50px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.wrapperData {
  display:flex; /*กำหนดขนาดปุ่ม*/
  align-items: center;
  justify-content: center;/*จัดตำแหน่งของ wapaper*/
  transition: all 0.5s;
}

/*
#sidebar {
  min-width: 200px;
  max-width: 250px;
  opacity: 1;
  transition: all 1s;
  background: bisque;
  color: brown;
  display: none;

}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar .active {
  margin-right:-210px;

  display: block;
}
*/

